$muted-color: rgb(196, 196, 196);
$muted-color-light: rgb(128, 128, 128);
$muted-color-middle: rgba(255, 255, 255, 0.5);

$muted-color-border: rgb(238, 238, 238);

$custom-black: rgb(23, 23, 23);

$success-color: #4caf50;
$error-color: #f44336;
