.navbar {
  height: 48px;

  display: grid;
  grid-template-columns: 15% 70% 15%;
  -webkit-box-align: center;
  align-items: center;

  &__left {
    padding: 0;
    cursor: pointer;
    border: none;

    img {
      height: 18px;
      padding: 10px;
    }
  }

  &__title {
    margin: 0 auto;
    grid-column-start: 2;

    text-transform: uppercase;
    font-size: 25px;
    font-weight: 500;
  }

  &__right {
  }
}
