@import "../../../../../styles/colors.scss";

.extra-product-list {
  border-top: 1px solid $muted-color-border;

  padding: 20px 0;

  &__mode-horizontal {
    height: 178px;
    margin-bottom: 0;

    display: flex;
    overflow-x: scroll;
    will-change: transform;
  }
}
